*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.nav_bar {
    display: flex;
    justify-content: space-between;
    height: 64px; 
}

.nome{
    display: flex;
    align-items: center;
    padding-left: 24px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.logotipo{
    height: 40px;
}

.nome > p{
    font-weight: bold;
    height: 32px;
    color: var(--dark-gray);
}

.nome > span{
    font-weight: medium;
}

.nav_bar > ul{
    display: flex;
    padding-right: 24px;
    gap: 16px;
    align-items: center;
}

.nav_bar > ul > li{
    list-style: none;
}

.nav_bar > ul > li > a{
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 1rem;
}

/*Esconder icons mobile*/
.mobile_nav{
    display: none;
}

.informacao_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D8D8D8;
}

.informacao_principal img{
    width: 60%;
    padding: 32px 24px ;
}

.informacao_principal_direita{
    display: flex;
    flex-direction: column;
    padding: 0px 40px;

}

.informacao_principal_direita > h1{
    font-size: 3rem;
    color: rgb(60, 60, 60);
    margin-bottom: 20px;
    text-decoration: solid;
}

.informacao_principal_direita > h4{
    font-size: 1.2rem;
    color: rgb(96 96 96);
    margin-bottom: 20px;

}

@media only screen and (max-width: 850px) {
    .informacao_principal h1 {
        font-size: 25px; 
    }
    .informacao_principal h4 {
        font-size: 15px; 
    }
}

.informacao_principal_direita > button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: rgb(60, 60, 60);
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.informacao_principal_direita > button:hover{
    background-color: rgb(40, 40, 40);
}

.informacao_principal_direita > button:active{
    background-color: rgb(20, 20, 20);
}

.informacao_secundaria{
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #fff;
}

.keepPracticing{
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
}

.keepPracticing img{
    width: 100%;
    padding-bottom: 32px;
}

.keepPracticing_texto{
    padding-bottom: 2%;
}

.keepPracticing_texto > h2{
    font-size: 2rem;
    color: rgb(60, 60, 60);
    margin-bottom: 20px;
}

.keepPracticing_texto > p{
    font-size: 1rem;
    color: rgb(60, 60, 60);
    margin-bottom: 32px;
}


.tresPosts{
    display:flex;
    flex-direction: column;
}

.post{
    display: flex;
    padding: 2%;
    border: #ccc 1px solid;
}

.post:hover{
    background-color: #e3e3e3;
    
}

.post img{
    width: 10rem;
}

/*Esconder as imagens mobile*/
.orientation-left-mobile, .campus-left-mobile, .guest-left-mobile {
    display: none;
}

/*Esconder as secçoes mobile*/
.cursos_mobile{
    display: none;
}

.texto1{
    display: flex;
    flex-direction: column;
    gap:8px;
    justify-content: center;
    margin-left: 13px;
}

.texto1 > h3{
    font-size: 1.2rem;
    color: rgb(60, 60, 60);
}

.texto1 > p{
    font-size: 1rem;
    color: rgb(60, 60, 60);
}

.texto1 > a{
    text-decoration: none;
    color: rgb(66, 116, 160);
    font-size: 1rem;
}

.startLearning{
    display: flex;
    flex-direction: column;
    padding: 0px 72px;
    margin-bottom: 32px;
}

.startLearning > h2{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: rgb(60, 60, 60);
    padding: 32px 0px;
}

.cursos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.course{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.course img{
    width: 100%;
    height: auto;
}

.texto_curso{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-bottom: 24px;
}

.texto_curso > h3{
    font-size: 1.2rem;
    color: rgb(83, 83, 83);
    margin-top: 16px;
}

.texto_curso2{
    font-size: 1rem;
    color: rgb(100, 100, 100);
    margin: 8px 0px;
    font-weight: lighter;
}

.thesis{
    background-color: #fff;
}
.thesis > h2 {
    text-align: center;
    font-size: 2rem;
    color: rgb(60, 60, 60);
    padding: 32px 0px;
}

.thesis-grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.urban-container{
    padding: 0px 24px;
}

.urban-container > video{
    width: 100%;
    height: auto;
}

.urban-info >h4{
    font-size: 1.2rem;
    color: rgb(60, 60, 60);
    margin-top: 24px;
    margin-bottom: 8px;
}

.urban-info >p{
    font-size: 1rem;
    color: rgb(100, 100, 100);
    margin-bottom: 32px;
    font-weight: lighter;
}

.other-thesis-container{
    display: flex;
    flex-direction: column;
}

.bloco{
    display: flex;
    flex-direction: row;
}

.bloco:hover{
    background-color: #e3e3e3;
}

.bloco > img{
    width: 35%;
    height: auto;
    margin: 16px;
}

.bloco-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloco-info > h4{
    font-size: 1.2rem;
    color: rgb(83, 83, 83);
    margin-top: 16px;
    margin-bottom: 3%;
}

.bloco-info > p{
    font-size: 1rem;
    color: rgb(100, 100, 100);
    margin-bottom: 32px;
    font-weight: lighter;
}

/** footer**/
footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(200, 200, 200);
    padding: 24px 16px 0px;
    background-color: #fff;
}

footer > p{
    color: rgb(100, 100, 100);
    margin-bottom: 32px;
    font-weight: lighter;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

footer a {
    text-decoration: none;
    color: rgb(100, 100, 100);
    margin-bottom: 32px;
    font-weight: lighter;
}


/** mobile**/
@media only screen and (max-width: 580px){
    
    .nav_bar > .nome, .nav_bar > ul{
        display: none;
    }

    .mobile_nav{
        /*alinhar ap centro*/
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 64px;
        background-color: #fff;
    }

    .informacao_principal{
        flex-direction: column;
    }

    .informacao_principal img{
        padding: 0px;
        width: 100%;
    }

    .informacao_principal_direita > button{
        width: 100%;
        font-size: 100%;
        margin-bottom: 32px;
        margin-top: 24px;
    }

    .informacao_principal_direita > h1{
        font-size: 2.3rem;
        margin-bottom: 32px;
        margin-top: 32px;
        text-decoration: solid;
    }
    
    .informacao_principal_direita > h4{
        font-size: 1.2rem;
        color: rgb(96 96 96);
    }

    .keepPracticing{
        display: none;
    }

    .informacao_secundaria{
        grid-template-columns: 1fr;
    }

    .tresPosts > *{
            display: flex;
            flex-direction: column;
            font-size: 120%;
    }

    .orientation-left-desktop, .campus-left-desktop, .guest-left-desktop {
        display: none;
    }

    .post img{
        width: 100%;
        height: auto;
    }

    .orientation-left-mobile, .campus-left-mobile, .guest-left-mobile {
        display: inline;
    }

    .startLearning{
        background-color: #fff;
    }

    .cursos{
        display: none;
    }

    .cursos_mobile{
        display: flex;
        flex-direction: column;
    }

    .cursos_mobile > *{
        background-color: #c7c7c7;
        font-size: 120%;
        margin: 1%;
        height: 4rem;
        color: rgb(52, 52, 52);
        text-decoration: none;
    }

    .cursos_mobile h4{
        margin: 16px;
        font-weight: normal;
        
    }

    .urban-info{
        display: none;
    }

    .other-thesis-container{
        display: none;
    }

    .thesis-grid{
        grid-template-columns: 1fr;
    }

    .urban-container{
        width: 100%;
        padding: 0px;
    }





}























